ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f9b67;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.active {
  background-color: #04aa6d;
}

footer {
  background-color: #3c3c3c;
  color: white;
  text-align: left;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 900;
}
