.profile {
  padding: 50px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #2f9b67;
  margin-bottom: 20px;
}

.profileDetails {
  display: grid;
  gap: 20px;
}

.editProfileButtons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.editProfileButton {
  background-color: #2f9b67;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.editProfileButton:hover {
  background-color: #007248;
}

.deleteAccount {
  background-color: #af3434;
}

.deleteAccount:hover {
  background-color: #9a0000;
}
