.popularCategories {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 50px 250px;
}

.title {
  font-size: 42px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2f9b67;
}

.headers {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.showAll {
  font-size: 20px;
  justify-self: end;
  color: #1c3c2d;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  background-color: #35ad73;
  color: white;
  padding: 10px 15px;
  border-color: transparent;
  border-radius: 25px;
}

.showAll:hover {
  background-color: #006540;
}

.category {
  padding: 30px 70px;
  font-size: 24px;
  background-color: #35ad73;
  margin: 15px 0px;
  border-radius: 25px;
  color: white;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
}

.category:hover {
  background-color: #007248;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 20px;
}
